.DS_Store
._*
.AppleDouble/
__MACOSX/
DerivedData/
Build/
build/
*.xcuserstate
xcuserdata/
*.xcresult
*.ipa
*.dSYM.zip
*.dSYM
*.log
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.html
